<div>
    <div class="form-main ">
        <form ng-submit="searchRepo()">
            <div class="col-6">
                <input type="text" ng-model="org" placeholder="Name of organization" />
            </div>
            <div class="col-6">
                <input type="text" ng-model="repo" placeholder="Repository of organization" />
            </div>
            <div class="col-offset-3 col-3">
                <input type="submit" value='Search repo'>
            </div>
        </form>
    </div>
    <div>
    </div>
</div>
